[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"
autopep8 = "*"

[packages]
sqlalchemy = "==1.3.10"
mysql-connector-python = "*"
flask = "==1.1.1"
flask-sqlalchemy = "==2.4.1"
sqlalchemy-serializer = "*"
flask-restful = "*"

[requires]
python_version = "3.7"
